.transition-screen {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #111 0%, #000 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}



/* ================ */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */

.full-body {
  height: 100vh;
  width: 100vw;
}

.full-body .loader {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: auto;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 0.5s infinite linear;
  /* faster rotation */
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}