/* ================== Hide caret globally ================= */
/* Remove outline on click */


/* prevents text selection */
html, body, *, *::before, *::after {
  caret-color: transparent !important;
  user-select: none; 
}



