
html, body, *, *::before, *::after {
  caret-color: transparent !important;
  user-select: none;
}

html, body {
  margin: 0;
  overflow-y: scroll;       
  scroll-snap-type: y mandatory; 
}

section {
  scroll-snap-align: start;
}
